.big-container {
    // display: grid;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    // justify-content: center;
    // align-items: center;
}

form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.button-array {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    // margin: 5px;
}

.btn {
    height: 50px;
    margin-left: 10px;
    border-radius: .5rem;
}

.array-container {
    /*background: lightblue;*/
    position: relative;
    margin: auto;
    margin-top: 5px;
    width: 80%;
    justify-content: center;
    display: flex;
}

.array-bar {
    // display: flex;
    // vertical-align: top;
    background: #6cc3d5;
    margin: 1px;
    width: 10px;
    border-radius: 5px;
}

.array-bar[target=_primary] {
    // display: flex;
    // vertical-align: top;
    background: #6cc3d5;
    margin: 1px;
    width: 10px;
    border-radius: 5px;
}

.array-bar[target=_secondary] {
    // display: flex;
    // vertical-align: top;
    background: #fd7e14;
    margin: 1px;
    width: 10px;
    border-radius: 5px;
}

.array-bar[target=_done] {
    // display: flex;
    // vertical-align: top;
    background: #00a53f;
    margin: 1px;
    width: 10px;
    border-radius: 5px;
}

.array-bar[target=_swap] {
    // display: flex;
    // vertical-align: top;
    background: #56cc9d;
    margin: 1px;
    width: 10px;
    border-radius: 5px;
}