<!-- <h2>
    Starting Things to Showcase:
</h2>
<h1>
    Stocko, Sorting Visualizer, Github, F1 Machine Learning Project
</h1> -->


<div class="grid_container">

    <div class="card mb-3 proj1">
        <h3 class="card-header">Stocko</h3>
        <div class="card-body">
            <h5 class="card-title">Senior Design Project</h5>
            <h6 class="card-subtitle text-muted">The main goal of Stocko is to provide our users with a web-based application that allows them to track their current positions in the market, provide long-term buying and selling valuations, and basic financial education.</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Technical Components: Angular, Typescript, Python, Flask API, Heroku, MongoDB</li>
            <li class="list-group-item">Coauthors:
                <a href="https://www.linkedin.com/in/calexdavis/" target="_blank" class="card-link">Alex Davis</a><br>
                <a href="https://www.linkedin.com/in/andrewsetka/" target="_blank" class="card-link">Andrew Setka</a>
                <a href="https://www.linkedin.com/in/bradymack/" target="_blank" class="card-link">Brady Mack</a>
            </li>
        </ul>
        <div class="card-body">
            <a href="https://stocko.xyz" target="_blank" class="card-link">stocko.xyz</a>
            <a href="https://github.com/Asetka/Stocko/tree/dev" target="_blank" class="card-link">GitHub Repo</a>
        </div>
        <div class="card-footer text-muted">
            Fall 2021
        </div>
    </div>


    <!-- <div class="card mb-3 proj2">
        <h3 class="card-header">Sorting Visualizer</h3>
        <div class="card-body">
            <h5 class="card-title">Fun Project with a Friend</h5>
            <h6 class="card-subtitle text-muted">Because CS 1xx students need good visualizaitons to learn sorting algortihms and CS 4xx need to brush up for coding interviews. And we got bored over winter break.</h6>
        </div>
        <a href="/projects/sorting-visualizer" class="list-group-item active">
            <h4 class="mb-1">Start Sorting!!!</h4>
        </a>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Technical Components Coming Soon</li>
            <li class="list-group-item">Coauthors:
                <a href="https://www.linkedin.com/in/sarahliangcs/" target="_blank" class="card-link">Sarah Liang</a>
            </li>
        </ul>
        <div class="card-footer text-muted">
            January 2020
        </div>
    </div> -->


    <div class="card mb-3 proj3">
        <h3 class="card-header">F1 Machine Learning Project</h3>
        <div class="card-body">
            <h5 class="card-title">Two Passions</h5>
            <h6 class="card-subtitle text-muted">Decided to throw two of my loves together: F1 and Machine Learning. Race Predictions? Race Strategies? "Lights out and away we go!"</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Technical Components Coming Soon</li>
        </ul>
        <div class="card-body">
            Links Coming Soon
        </div>
        <div class="card-footer text-muted">
            Date (Coming Soon)
        </div>
    </div>


    <!-- <div class="card mb-3 proj4">
        <h3 class="card-header">GitHub Visualizer</h3>
        <div class="card-body">
            <h5 class="card-title">Project Type Coming Soon</h5>
            <h6 class="card-subtitle text-muted">Project Description Coming Soon</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Technical Components Coming Soon</li>
        </ul>
        <div class="card-body">
            Links Coming Soon
        </div>
        <div class="card-footer text-muted">
            Date (Coming Soon)
        </div>
    </div> -->

</div>