<div class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Resume Type</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Download</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <th scope="row">1 Page Resume</th>
                <td>9 November 2021</td>
                <td>
                    <a href="https://www.github.com/BrendanLuc/my-website/raw/dev/extra_resources/resume/Brendan_Lucich_Resume.pdf">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>                  
                        </svg>
                    </a>
                </td>
            </tr>
            <tr class="table-primary">
                <th scope="row">Federal Resume (*excluding references)</th>
                <td>9 November 2021</td>
                <td>
                    <a href="https://www.github.com/BrendanLuc/my-website/raw/dev/extra_resources/resume/Brendan_Lucich_FederalResume.pdf">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>                  
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>