<body class="photo-gallery-layout image-hover-fade">
    <div>
        <div photo-gallery-length="8">
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image1.JPG" style="left: -150px; top: 0px; width: 1000px; height: 500px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image2.jpg" style="left: 0px; top: 0px; width: 600px; height: 400px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image3.jpeg" style="left: 0px; top: -250px; width: 600px; height: 700px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image4.JPG" style="left: 0px; top: 0px; width:900px; height: 650px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image5.jpeg" style="left: -100px; top: 0px; width: 1000px; height: 650px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image6.jpeg" style="left: 0px; top: -75px; width: 600px; height: 500px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image7.jpg" style="left: 0px; top: 0px; width: 575px; height: 450px; position: relative;">
                    </figure>
                </div>
            </article>
            <article class="photo-gallery-item">
                <div class="photo-gallery-item-inside">
                    <figure class="photo-gallery-image">
                        <img src="assets/img/home_page/image8.JPG" style="left: 0px; top: 0px; width: 600px; height: 350px; position: relative;">
                    </figure>
                </div>
            </article>
        </div>
    </div>
</body>