<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Welcome!</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link">Tab 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Tab 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Tab 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Tab 4</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact Me</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item text-wrap justify-content-center" href="https://www.linkedin.com/in/brendan-lucich/" target="_blank">
                    <img class="prof-pic img-fluid" src="assets/img/brendanProf.jpeg" alt="Brendan Lucich Prfile Picture">  LinkedIn</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Email</a>
                </div>
              </li>
        </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
